﻿@model List<AutoComplete.Models.Title>
@using AutoComplete.Models
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/js/bootstrap-typeahead.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('input.typeahead').typeahead({
            ajax: '@Url.Action("GetTitles", "Home")',
            timeout: 500,
            displayField: "Name",
            valueField: "TitleId",
            triggerLength: 2,
            onSelect: displayResult
        });
    });

    function displayResult(item) {
        $.ajax({
            url: '/Home/GetTitleById/' + item.value,
            contentType: 'application/html;charset=utf-8',
            type: "GET",
            dataType: 'html'

        })
        .success(function (result) {
            $('#searchResult').html("");
            $('#searchResult').html(result);
        });
    }
</script>

<div style="margin-left:100px; margin-top:50px;">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label for="name">Search</label>
            <input type="text" class="form-control typeahead" id="name" placeholder="Enter title name" />
        </div>

    </form>

    <div id="searchResult" style="width:60%"></div>
    <hr />
    <table class="table" style="width:40%">
        <caption>Employees List</caption>
        <thead>
            <tr>
                <th>Title Id</th>
                <th>Title Name</th>
                <th>Release Year</th>
                <th>Processed DateTime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Title title in Model)
            {
                <tr>
                    <td>@title.TitleId</td>
                    <td>@title.TitleName</td>
                    <td>@title.ReleaseYear</td>
                    <td>@title.ProcessedDateTimeUTC</td>
                </tr>
                <tr>
                    <td colspan="4">
                        @foreach (var p in title.TitleParticipants)
                        {
                            <tr>
                                <td>@p.RoleType</td>
                                <td>@p.Participant.ParticipantType</td>
                                <td>@p.Participant.Name</td>
                            </tr>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
   </div>