﻿@model AutoComplete.Models.Title

<table class="table table-bordered table-condensed table-condensed table-responsive table-hover table-striped">
    <caption>Title Detail</caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.TitleId
            </td>
            <td>@Model.TitleName</td>
            <td>
                <a href="@Url.Action("Index", new { id = Model.TitleId })" title="Title detail">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <span class="sr-only">&nbsp;Detail</span>
                </a>
            </td>
        </tr>
    </tbody>
</table>

